
catalog-v001.xml

src/ontology/mirror/bfo.owl

src/ontology/mirror/chebi.owl

src/ontology/mirror/envo.owl

src/ontology/mirror/iao.owl

src/ontology/mirror/obi.owl

src/ontology/mirror/pato.owl

src/ontology/mirror/po.owl

src/ontology/mirror/uo.owl
